.App{
  display: flex;
  flex-direction: row;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif
}

.main{
  display: flex;
  flex-direction: row;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 300px;
  background-color: #ebebeb;
}

.header{
  margin: 20px 0;
  padding: 15px;
  height: 50px;
  display: flex;
  justify-content: center
}

.name{
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  margin-left: 15px;
}

.logo{
  width: 50px;
  height: 50px;
}

.login{
  text-align: center;
  padding: 15px 15px 15px 30px;
  height: 15px;
  background-color: rgb(255, 188, 0);
  margin: 18px;
  border-radius: 100px;
  box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.3);
}

.users-list{
  padding: 10px;
  margin: 5px;
  height: calc(100vh - 155px);
  overflow: scroll;
}

.empty-messages-list,
.empty-users-list{
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.8rem;
}

.chat-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 5px);
  width: calc(100vw - 305px);
  border-top: 5px solid #ebebeb;
  border-right: 5px solid #ebebeb;
}

.send-message-form input::placeholder{
  font-weight: lighter;
  font-style: italic;
  font-size: 0.8rem;
}

.send-message-form input{
  font-size: inherit;
  height: 15px;
  padding: 15px;
  width: calc(100vw - 335px);
  border-style: none;
  border-top: 5px solid #ebebeb;
  border-bottom: 5px solid #ebebeb;
  box-shadow: inset 0px 5px 10px -2px rgba(0,0,0,0.2);
}

.send-message-form input:focus {
  outline-width: 0;
}

.message-list{
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  box-shadow: inset 0px 5px 10px -2px rgba(0,0,0,0.2);
}

.message {
  margin: 15px 0;
}

.message.to-current-friend{
  margin-left: auto;
}

.message.message.to-current-friend .message-username{
  text-align: right;
  padding-right: 8px;
}

.message .message-username {
  font-size: 11px;
  opacity: 0.9;
  margin-bottom: 6px;
  padding-left: 8px;
}

.message .message-text {
  background: #ebebeb;
  display: inline;
  padding: 5px 18px;
  border-radius: 100px;
  box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.3);
}

.user{
  margin: 10px 0;
  padding: 10px 10px;
  display: flex;
  border-radius: 100px; 
  background-color: #fff;
}

.user.active,
.user:hover{
  box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.3);
}

.user-avatar{
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.user-username{
  line-height: 25px;
}

.welcome{
  background-color: #ebebeb;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome .header{
  animation: welcomeHeaderAnimation 5s ease;
}

.login-form{
  display: flex;
  animation: welcomeLoginAnimation 5s ease;
  flex-direction: column;
  margin-top: 20px;
}

.login-username{
  border-style: none;
  border-radius: 18px;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  box-shadow: inset 0px 4px 6px -2px rgba(0,0,0,0.3);
}

.login-username:focus {
  outline-width: 0;
}

.login-button{
  background-color: rgb(255, 188, 0);
  border-radius: 18px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  color: #000;
  box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.3);
}

.disabled-btn{
  pointer-events: none;
}

.login-button:hover{
  background-color: rgb(224, 165, 0);
}

@keyframes welcomeHeaderAnimation {
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  60%{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes welcomeLoginAnimation {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}